.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    width: 450px;
}
.contact-container {
    background: #4462f7;
    border-radius: 5px;
    margin: 10px 0px;
}
.contact-container button {
    width: 100%;
    padding: 6px;
    border: none;
    background: #5975ff;
    cursor: pointer;
    outline: none;
    color: white;
    border-top: 2px solid #4462f7;
}
.contact-container .delete-contact {
    border-radius: 0 0 5px 5px;
}
.contact-container .contact-edit-button button:first-of-type{
    border-right: 2px solid #4462f7;
}
.contact-edit-button {
    display: flex;
}
.contact {
    padding: 5px 10px;
}
.contact p {
    margin: 10px 10px;
    color: white;
}
.contact form input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    padding: 6px;
    margin: 5px 0px;
}


.add-contact {
    width: 450px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.add-contact form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.add-contact div {
    display: flex;
    justify-content: space-between;
}
.add-contact form p {
    margin: 0;
}
.add-contact form p:last-of-type {
    color: #5975ff;
}
.add-contact form input, .search-box {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px;
}
.add-contact form input:last-of-type {
    margin-bottom: 20px;
}
.add-contact form input:first-of-type {
    margin-top: 20px;
}
.add-contact form input:active, :focus {
    outline: 0;
    outline-offset: 0;
}
.add-contact form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #5975ff;
    cursor: pointer;
    outline: none;
    color: white;
}
